BakeManifest(
    bundle_name: "system",
    pipelines_dirs: [
        "pipelines",
        "../../i3_egui/assets/pipelines",
    ],
    ibl: [
        (
            source: "../../../assets/hdri/horn-koppe_spring_1k.hdr",
            options: (
                extract_sun: true,
                intensity_scale: 1.0,
                sun_strength_ratio: Some(15),
            )
        ),
    ],
    noise: [
        (name: "blue_noise",  size: 1024, seed: 42, algorithm: BlueNoise(sigma: 0.5)),
        (name: "white_noise", size: 1024, seed: 0,  algorithm: WhiteNoise),
    ],
    material_sets: [
        (
            name: "grass",
            albedo: Some("../../../assets/textures/Ground037_1K-PNG/Ground037_1K-PNG_Color.png"),
            normal: Some("../../../assets/textures/Ground037_1K-PNG/Ground037_1K-PNG_NormalGL.png"),
            roughness: Some("../../../assets/textures/Ground037_1K-PNG/Ground037_1K-PNG_Roughness.png"),
            metallic: None,
            occlusion: Some("../../../assets/textures/Ground037_1K-PNG/Ground037_1K-PNG_AmbientOcclusion.png"),
        ),
        (
            name: "rock",
            albedo: Some("../../../assets/textures/Rock060_1K-PNG/Rock060_1K-PNG_Color.png"),
            normal: Some("../../../assets/textures/Rock060_1K-PNG/Rock060_1K-PNG_NormalGL.png"),
            roughness: Some("../../../assets/textures/Rock060_1K-PNG/Rock060_1K-PNG_Roughness.png"),
            metallic: None,
            occlusion: Some("../../../assets/textures/Rock060_1K-PNG/Rock060_1K-PNG_AmbientOcclusion.png"),
        ),
        (
            name: "dirt",
            albedo: Some("../../../assets/textures/Ground104_1K-PNG/Ground104_1K-PNG_Color.png"),
            normal: Some("../../../assets/textures/Ground104_1K-PNG/Ground104_1K-PNG_NormalGL.png"),
            roughness: Some("../../../assets/textures/Ground104_1K-PNG/Ground104_1K-PNG_Roughness.png"),
            metallic: None,
            occlusion: Some("../../../assets/textures/Ground104_1K-PNG/Ground104_1K-PNG_AmbientOcclusion.png"),
        ),
    ],
)
