BakeManifest(
    bundle_name: "system",
    pipelines_dirs: [
        "pipelines",
        "../../i3_egui/assets/pipelines",
    ],
    ibl: [
        (
            source: "../../../assets/hdri/horn-koppe_spring_1k.hdr",
            options: (
                extract_sun: true,
                intensity_scale: 1.0,
                sun_strength_ratio: Some(15),
            )
        ),
    ],
    noise: [
        (name: "blue_noise",  size: 1024, seed: 42, algorithm: BlueNoise(sigma: 0.5)),
        (name: "white_noise", size: 1024, seed: 0,  algorithm: WhiteNoise),
    ],
)
